[submodule "fixtures/cf-deployment"]
	path = fixtures/cf-deployment
	url = https://github.com/cloudfoundry/cf-deployment
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://github.com/go-yaml/yaml
[submodule "vendor/github.com/square/certstrap"]
	path = vendor/github.com/square/certstrap
	url = https://github.com/square/certstrap
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
